.user-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}

.blocc{
  text-align: center;
  font-size: 3em;
  padding-top: .63285776728%;
  padding-bottom: .63285776728%;
}

.paddedText {
  padding-left: 1%;
  padding-bottom: 1.365475685856%;
}

.user-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  padding-top: .63285776728%;
  padding-bottom: .63285776728%;
  padding-left: .5983576748873235%;
  padding-right: .5983576748873235%;
  cursor: pointer;
  background-color: rgb(83, 83, 233);
  color: white;
}

.user-card:hover {
  transform: scale(1.05);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  
  
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
